

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: medium;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  margin:0;
}

/* Makes it so links don't default to blue */
a { color: inherit; } 
/* 
.container{
  margin:3rem;
} */




/* Media queries for mobile repsonsiveness on beer cards /*
/* Changes kick in when screen is 1200px or smaller */
@media (max-width: 1200px) {
  
  /* Changes grid to two columns and decreases gap */
  .grid-container1 {
    display: grid;
    grid-gap: 20px;  
    grid-template-columns: 1fr 1fr;
  }

  .grid-container {
    display: grid;
    grid-gap: 20px;  
    grid-template-columns: 1fr 1fr;
  }

  .grid-container3 {
    display: grid;
    grid-gap: 20px;  
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 750px) {
/* Changes kick in when screen is 750px or smaller */
/* Changes grid to one column and decreases gap */
  .grid-container1 {
    display: grid;
    grid-gap: 10px;  
    grid-template-columns: 1fr;
  }

  .grid-container2 {
    display: grid;
    grid-gap: 10px;  
    grid-template-columns: 1fr;
  }

  .grid-container3 {
    display: grid;
    grid-gap: 10px;  
    grid-template-columns: 1fr;
  }
  .map-container{
    max-width: 365px;
  }
  .sidebar{
    max-width: 150px;
  }

}