.grid-container {
  display: grid;
  grid-gap: 50px;  
  grid-template-columns: 1fr 1fr 1fr;
}

.border {
  text-align: center;
  border: solid 1px grey;
  margin: 1px;
  box-shadow: 2px 3px 2px #888888;
  max-height: 750px;
  overflow: hidden;
}

.cardContent {
  display: inline-block;
  padding: 8px;
  line-height: 20px; /* Height / no. of lines to display */
  overflow:hidden;
}

.card {
  background-color: white;
  max-width: 300px;
}

.beer-img {
  max-width: 260px;
  max-height: 200px;
  overflow: hidden;
}

li {
  list-style: none;
}

.abv {
  display: inline-block;
  margin-bottom: 30px;
}

.description {
  padding: 10px;
  overflow: hidden; 
  max-height: 124px;
  line-height: 16px; 
  position: relative;
  word-wrap: break-word;
}

.description:after { content: "..."; background: white; position :absolute;}

.buttonDiv {
  text-align: center;
}

.buttons {
  display: inline-block;
}

/* Aligns direction button with favorite button and adds space between buttons */
.mapDirection {
  margin-bottom: 80px;
  margin-right: 10px;
  background-color: #de5246;
}

.mapDirection:hover { 
  background-color: lightcoral;
}



