.card {
  background-color: white;
  max-width: 600px;
}

.card-body {
  margin: 0px 20px 0px 20px;
}

li {
  list-style: none;
}

hr {
  margin-top: 20px;
}

.description {
 margin-top: -20px;
}

.abv {
margin-top: -20px;
}