.carousel{
    height: 650px!important;
    filter: opacity(75%);
    width: 100%;
    position: relative;
    display: inline-block;
}

.big-logo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:75%;
    width:75%;
}

.searchBar{
    position: absolute;
    width: 100%;
    align-content: center;
    align-self: center;
    font-size: 42px;
}

.carousel-item{
    width: 100%!important;

}

.bigBanner{
    justify-content: center;
    align-content: center;
}