.slider{
    filter: opacity(85%);
    width: 100%;
    position: relative;
    display: inline-block;
}

.big-logo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:75%;
    width:75%;
}

.bigBannerCaption{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 100px;
    text-shadow: 2px 2px 2px #000000;
}
.bannerCaption{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 91px;
    margin-top: -0.5cm;
    text-shadow: 2px 2px 2px #000000;
}

.bigBanner{
    justify-content: center;
    align-content: center;
}