.carousel{
    height: 400px!important;
    filter: opacity(75%);
    width: 100%;
}

.searchBar{
    position: absolute;
    top: 46%;
    left:46%;
    align-content: center;
    font-size: 42px;
}

.carousel-item{
    width: 100%!important;
}